<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootswatch-sandstone/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Interface Files</h1>
    </div>
    <button class="btn btn-sm btn-primary" title="Manual poll file from remote file repository">Poll Files</button>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>No</th>
            <th>File Name</th>
            <th>Acquired Timestamp</th>
            <th>Checksum</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="interfaceFile, status : ${interfaceFiles}" th:if="${interfaceFiles.totalPages > 0}">
            <td th:text="${interfaceFiles.number * interfaceFiles.size + status.index + 1}">1</td>
            <td><b><a th:href="@{/interface-files/{interfaceFileId}(interfaceFileId=${interfaceFile.recordId})}" th:text="${interfaceFile.originalName}">OFFTRX_20170812210000.txt</a></b></td>
            <td th:text="${interfaceFile.acquiredTimestamp}">2017/08/16 20:11:12</td>
            <td th:text="${interfaceFile.checksumValue}"></td>
            <td th:text="${interfaceFile.processingPriority}">1</td>
            <td th:text="${interfaceFile.status}">NEW</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a th:href="@{/interface-files/{interfaceFileId}/__update(interfaceFileId=${interfaceFile.recordId})}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Update</a></li>
                        <li><a th:href="@{/interface-files/{interfaceFileId}/__remove(interfaceFileId=${interfaceFile.recordId})}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/interface-files}"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Try Sms</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr th:if="${interfaceFiles.totalPages == 0}">
            <td colspan="7" align="center"><i>No interface file found</i></td>
        </tr>
        </tbody>
    </table>
    <th:block th:if="${interfaceFiles.totalPages > 0}">
        <nav aria-label="...">
            <ul class="pagination">
                <li th:class="${interfaceFiles.first ? 'disabled' : ''}">
                    <a th:href="@{/interface-files?page={previousPage}(previousPage=${interfaceFiles.number - 1})}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                </li>
                <li th:each="pageNumber : ${#numbers.sequence(0, interfaceFiles.totalPages - 1)}" th:class="${interfaceFiles.number == pageNumber ? 'active' : ''}">
                    <a th:href="@{/interface-files?page={targetPage}(targetPage=${pageNumber})}" th:text="${pageNumber + 1}">1</a>
                </li>
                <li th:class="${interfaceFiles.last ? 'disabled' : ''}">
                    <a th:href="@{/interface-files?page={nextPage}(nextPage=${interfaceFiles.number + 1})}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                </li>
            </ul>
        </nav>
    </th:block>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>