<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Remove Gift Code</title>

<style type="text/css">
body {
  min-height: 1000px;
  padding-top: 70px;
}
</style>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  th:href="@{/webjars/bootswatch-sandstone/3.3.5+4/css/bootstrap.min.css}" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Telkomsel</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a th:href="@{/magic-tap/gift-codes/__list}">Gift Code <span class="sr-only">(current)</span></a></li>
					<li><a th:href="@{/btpn-wow/request-types/__list}">Request Type</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
	</nav>
	<div class="container">
		<div class="page-header">
			<h1>Remove Gift Code <small class="pull-right" th:text="${removeForm.target.code}">ASDQWE123</small></h1>
		</div>
		<form class="form-horizontal" th:object="${removeForm}" method="post" th:action="@{/magic-tap/gift-codes/{code}/__remove(code=${removeForm.target.code})}">
			<div class="form-group">
				<label for="code" class="col-sm-2 control-label">Code</label>
				<div class="col-sm-10">
					<p class="form-control-static" id="code" th:text="${removeForm.target.code}">ASDQWE123</p>
				</div>
			</div>
			<div class="form-group">
				<label for="message" class="col-sm-2 control-label">Sms Template</label>
				<div class="col-sm-10">
					<p class="form-control-static" id="message" th:text="${removeForm.target.message.content}">Sample sms template content</p>
				</div>
			</div>
			<div class="form-group" th:class="${#fields.hasErrors('confirmed')} ? 'form-group has-error' : 'form-group'">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label><input type="checkbox" th:field="*{confirmed}" /> Confirm remove gift code</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove</button>
					<a class="btn btn-sm btn-warning" href="#" th:href="@{/magic-tap/gift-codes/__list}"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Cancel</a>
				</div>
			</div>
		</form>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/jquery.min.js" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</body>
</html>