<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootswatch-sandstone/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Interface File</h1>
    </div>

    <a href="list.html" th:href="@{/interface-files}">Show Summaries List</a>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#" th:href="@{/interface-files/{interfaceFileId}(interfaceFileId=${interfaceFile.recordId})}">Details</a></li>
        <li role="presentation"><a href="#" th:href="@{/interface-files/{interfaceFileId}/file-contents(interfaceFileId=${interfaceFile.recordId})}">Content</a></li>
        <li role="presentation"><a href="#" th:href="@{/interface-files/{interfaceFileId}/invalid-lines(interfaceFileId=${interfaceFile.recordId})}">Invalid</a></li>
        <li role="presentation"><a href="#" th:href="@{/interface-files/{interfaceFileId}/transaction-items(interfaceFileId=${interfaceFile.recordId})}">Transaction</a></li>
        <li role="presentation" class="active"><a href="#" th:href="@{/interface-files/{interfaceFileId}/settlement-summaries(interfaceFileId=${interfaceFile.recordId})}">Summary</a></li>
    </ul>

    <a th:href="@{/interface-files/{interfaceFileId}/settlement-summaries(interfaceFileId=${interfaceFile.recordId})}">Return to List</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>