<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootswatch-sandstone/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Interface File</h1>
    </div>

    <a href="list.html" th:href="@{/interface-files}">Back To List</a>


    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#" th:href="@{/interface-files/{interfaceFileId}(interfaceFileId=${interfaceFile.recordId})}">Details</a></li>
        <li role="presentation"><a href="#" th:href="@{/interface-files/{interfaceFileId}/file-contents(interfaceFileId=${interfaceFile.recordId})}">Content</a></li>
        <li role="presentation"><a href="#" th:href="@{/interface-files/{interfaceFileId}/invalid-lines(interfaceFileId=${interfaceFile.recordId})}">Invalid</a></li>
        <li role="presentation" class="active"><a href="#" th:href="@{/interface-files/{interfaceFileId}/transactions-items(interfaceFileId=${interfaceFile.recordId})}">Transaction</a></li>
        <li role="presentation"><a href="#" th:href="@{/interface-files/{interfaceFileId}/settlement-summaries(interfaceFileId=${interfaceFile.recordId})}">Summary</a></li>
    </ul>

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>No</th>
            <th>Customer UID</th>
            <th>MSISDN</th>
            <th>Merchant ID</th>
            <th>Short Code</th>
            <th>Transaction ID</th>
            <th>Timestamp</th>
            <th>Amount</th>
            <th>Last Balance</th>
            <th>Purse Counter</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transactionItem, status : ${transactionItems}" th:if="${transactionItems.totalPages > 0}">
            <td th:text="${transactionItems.number * transactionItems.size + status.index + 1}">1</td>
            <td th:text="${transactionItem.customerUid}">0605381E</td>
            <td th:text="${transactionItem.customerMsisdn}"></td>
            <td th:text="${transactionItem.merchantId}"></td>
            <td th:text="${transactionItem.merchantShortCode}"></td>
            <td th:text="${transactionItem.transactionId}"></td>
            <td></td>
            <td th:text="${transactionItem.transactionAmount}"></td>
            <td th:text="${transactionItem.lastBalance}"></td>
            <td th:text="${transactionItem.purseCounter}"></td>
            <td></td>
        </tr>
        <tr th:if="${transactionItems.totalPages == 0}">
            <td th:colspan="11" align="center"><i>No transactions loaded from this file</i></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>